<!DOCTYPE html>

<title>Page</title>

{% block body %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ page.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ page.icon }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ page.url }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ page.template }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ page.class }}</td>
            </tr>
            <tr>
                <th>Navigation</th>
                <td>{{ page.navigation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RequiresLogin</th>
                <td>{{ page.requiresLogin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>HideWhenLoggedIn</th>
                <td>{{ page.hideWhenLoggedIn ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TileOrder</th>
                <td>{{ page.tileOrder }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ page.editable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_page_index') }}">back to list</a>

    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
