{% extends "grid/base.html.twig" %}
{% set css = "login" %}

{% block title %}{{ 'user.new'|trans }}{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% if error %}
                    <div class="alert alert-danger" data-controller="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <h1>{{ 'login.title'|trans }}</h1>

                <form action="{{ path('user_login') }}" method="post">
                    <div>
                        <label for="username">{{ 'Username'|trans }}:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div>
                        <label for="password">{{ 'Password'|trans }}:</label>
                        <input type="password" id="password" name="_password">
                    </div>
                    <div>
                        <input type="hidden" name="_target_path" value="/home">
                        <button class="btn" type="submit">{{ 'navigation.login'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
