<nav>
    <div class="collapsed-navigation">
        <div class="collapsed-navigation__content">
            <div class="collapsed-navigation__close">
                <i class="bi bi-x-circle"></i>
            </div>
            <div class="collapsed-navigation__menu-items">
                <a href="{{ path('home_index') }}"
                   class="collapsed-navigation__item">{{ 'navigation.home'|trans }}</a>
                <a href="{{ path('blog_index') }}"
                   class="collapsed-navigation__item">{{ 'navigation.blog'|trans }}</a>
                {% if app.user is null %}
                    <a href="{{ path('user_login') }}"
                       class="collapsed-navigation__item">{{ 'navigation.login'|trans }}</a>
                {% elseif app.user %}
                    <a href="{{ path('user_logout') }}"
                       class="collapsed-navigation__item">{{ 'navigation.logout'|trans }}</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="main-navigation">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top-bar__right-links">
                            {% if app.user %}
                                <a href="{{ path('homepage') }}">{{ app.user.username }}<span class="material-icons">account_circle</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container navigation-wrapper">
            <div class="row">
                <div class="col-10 col-md-4">
                    <div class="top-logo"></div>
                </div>
                <div class="col-2 col-md-8">
                    <div class="navigation">
                        <a href="{{ path('home_index') }}"
                           class="navigation__item">{{ 'navigation.home'|trans }}</a>
                        <a href="{{ path('blog_index') }}"
                           class="navigation__item">{{ 'navigation.blog'|trans }}</a>
                        {% if app.user is null %}
                            <a href="{{ path('user_login') }}"
                               class="navigation__item">{{ 'navigation.login'|trans }}</a>
                        {% elseif app.user %}
                            <a href="{{ path('user_logout') }}"
                               class="navigation__item">{{ 'navigation.logout'|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="navigation-wrapper__bars">
                        <i class="bi bi-list"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
